<!DOCTYPE html>
<!-- Majority of the code found on this page can be founbd on W3Schools.com -->
<html>
<head>
    <meta charset="utf-8" />
    <title>About</title>
    <link href="Styles/NavBar.css" rel="stylesheet" />
</head>
<body>
    <div class="topnav">
        <a href="index.html">Home</a>
        <a href="TeddyInfo.html">Teddy</a>
        <a href="Gallery.html">Gallery</a>
        <a class="active" href="About.html">About</a>
        <a href="Login.html">Login</a>

    </div>

    <h1> About </h1>
    <p>This will be the about section for the page itself. </p>

</body>
</html>