<!DOCTYPE html>
<!-- Majority of the code found on this page can be founbd on W3Schools.com -->
<html>
<head>
    <meta charset="utf-8" />
    <title>Teddy</title>
    <link href="Styles/NavBar.css" rel="stylesheet" />
    <link href="Styles/SideBySide.css" rel="stylesheet" />
</head>
<body>
    <div class="topnav">
        <a href="index.html">Home</a>
        <a class="active" href="TeddyInfo.html">Teddy</a>
        <a href="Gallery.html">Gallery</a>
        <a href="About.html">About</a>
        <a href="Login.html">Login</a>
    </div>

    <div class="row">
        <div class="column">
            <img src="Teddy/BabyTeddy.jpg" alt="Baby Teddy" style="width:100%">
        </div>
        <div class="column">
            <img src="Teddy/SleepBaby.jpg" alt="Sleepy Teddy" style="width:100%">
        </div>
        <div class="column">
            <img src="Teddy/HeadSHot.jpg" alt="Teddy" style="width:100%">
        </div>
    </div>

</body>
</html>